/* TODO: Border color & styling for track bars: `border 1px solid #102742` */
/* Border gradient colors for the gradiated border: (to bottom, #C0CCD9, #090C11) */
/* Exiled Colors
   border-color: #3B0E24;
   background-color: #4A122D;
   color: #E79DC0;
*/
/* Chosen Colors
   border-color: #243B0E;
   background-color: #2D4A12;
   color: #BFE490;
*/
/* Scrubber background color: #7F6157 */
/* Track hover background-color: #94BAFF */
/* Track hover text color: #122D4A */

:root {
    --site-blue: #122D4A;
    --site-orange: #FFA366;
    --site-light-blue: #94BAFF;
    --site-brown-orange: #7F6157;
    --nav-button-border: #636363;
    --top-level-border: #919191;;
    --fade-light: #1F4B7F;
    --fade-light-2: #94BAFF;
    --fade-dark: #0A1929;
    --scrubber-height: 1.5rem;
    --control-box-height: 5rem;
    --control-box-width: 9.3rem;
    --site-font-family: Helvetica, Arial, sans-serif;
}

html {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Internet Explorer */
    user-select: none; /* All others */
}

/* Setting the reference size for "rem" values */
root-html-tag {
    font-size: 12px;
}

/**** General Site Styling *****/

body {
    margin: 0;
    background: var(--site-blue);
    /* Hides the scrollbar that runs up next to the navbar */
    overflow-y: hidden;
}

/**** Navbar *****/

#navbar-group {
    position: sticky;
    top: 0;
}

/* TODO: Find a way to add a gradient to the border like it is in the real thing - the bottom is slightly darker than the top. */
nav {
    top: 0;
    height: 4rem;
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    color: var(--site-orange);
    padding: 0.15rem 0.1rem 0.15rem 0.1rem; /* top right bottom left */
    border: 1px solid var(--top-level-border);
}

nav ul {
    margin: 0;
    list-style: none;
}

.nav-button {
    height: 1.35rem;
    width: 2rem;
    font-size: 0.75rem;
    text-align: center;
    color: var(--site-orange);
    border: 1px solid var(--nav-button-border);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    cursor: pointer;
}

#nav-playlist-selector {
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    color: 1px solid var(--site-orange);
    font-family: var(--site-font-family);
}

/**** Tracks List *****/

#tracks-list {
    margin: 0;
    padding: 0;
}

.track-info {
    list-style: none;
    padding: 5px 2px 5px 10px; /* top right bottom left */
    color: var(--site-orange);
    border: 1px solid #0a192b; /* TODO: Move this color to :root */
    font-family: var(--site-font-family);
    font-size: 0.75rem;
    cursor: pointer;
}

.track-info:hover {
    background-color: var(--fade-light-2);
    color: var(--site-blue);
}

/**** Site Scrollbar *****/

#tracks-list {
    position: fixed;
    top: 6.0rem; /* TODO: This is here to keep the tracks list from running over top of the navbar and scrubber. Restrucutre the project so that the navbar, tracks list, and scrubber are in a flex container so I don't have to do hacky things like this. */
    bottom: 0; /* Sets the bottom bound of the container to the bottom of the screen. Otherwise, some of the screen is hidden off the bottom of the screen and cannot be scrolled to. */
    width: 100%;
    max-height: 100%;
    overflow-y: scroll; /* Displays a scrollbar on the tracks-list ul element */
}

#tracks-list::-webkit-scrollbar {
    width: auto;
}

#tracks-list::-webkit-scrollbar-track {
    border: 0.2rem solid var(--site-blue);
    background-color: var(--site-brown-orange);
}

#tracks-list::-webkit-scrollbar-thumb {
    cursor: none;
    height: 1rem;
    border-radius: 3px;
    background-color: var(--site-orange);
}

#tracks-list::-webkit-scrollbar-thumb:hover {
    background: var(--site-light-blue);
}

/**** Track Scrubber *****/

#scrubber-group {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: var(--scrubber-height);
}

#scrubber-group:hover #scrubber-thumb {
    background-color: var(--site-light-blue)
}

#scrubber-body {
    display: flex;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    height: var(--scrubber-height);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    border: 2px solid var(--nav-button-border);
    margin: 0;
    padding: 0px 5px 0px 5px;
}

#scrubber-bar-background {
    background-color: var(--site-brown-orange);
    height: 25%;
    width: 100%;
}

#scrubber-bar-progress {
    position: relative;
    background-color: var(--site-orange);
    height: 100%;
    width: 0%;
}

#scrubber-thumb {
    background-color: var(--site-orange);
    height: 0.9rem;
    width: 0.4rem;
    border-radius: 5px;
    border: 1px solid var(--nav-button-border);
    position: absolute;
    top: -0.3rem;
    left: 100%;
}

/* TODO: The font in the labels (divs) is not centered vertically. Fix this. */
.scrubber-label {
    box-sizing: border-box;
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    margin: 0;
    padding: 0.3rem;
    color: var(--site-orange);
    border: 2px solid var(--nav-button-border);
    height: var(--scrubber-height);
    font-family: var(--site-font-family);
    font-size: 0.8rem;
}

/**** TrackList *****/

#tracks-list {
    margin: 0;
    padding: 0;
}

.track-info {
    list-style: none;
    padding: 5px 2px 5px 10px; /* top right bottom left */
    color: var(--site-orange);
    border: 1px solid #102742;
    font-family: var(--site-font-family);
    font-size: 0.75rem;
}

/***** Control Box *****/

.control-box {
    all: unset;
    
    position: absolute;
    bottom: 5rem;
    left: calc(50% - (var(--control-box-width) / 2));
    height: var(--control-box-height);
    width: var(--control-box-width);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    border: 0.5px solid var(--top-level-border);
    font-family: var(--site-font-family);
}

/* TODO: The border on the control box and its buttons will need to have the same fade effect as the original Vidya player (same as the navbar) */
.control-box-first-row {
    flex-grow: 1;
    font-size: 14px;
    min-height: 1.1rem;
}

.control-box-second-row {
    text-align: center;
    flex-grow: 10;
    min-height: 2.1rem;
}

.control-box-third-row {
    text-align: center;
    flex-grow: 10;
    min-height: 1.1rem;
}

.control-box-element {
    color: var(--site-orange);
    width: 100%;
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    border: 0.5px solid var(--top-level-border);
    cursor: pointer;
    text-align: center;
}

.control-box-element:hover {
    color: var(--site-light-blue);
}

/**** Flexbox Containers *****/

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#control-box-flex-container {
    display: flex;
    flex-direction: column;
}

#control-box-row-two-flex-container {
    display: flex;
    flex-direction: row;
}

#control-box-row-three-flex-container {
    display: flex;
    flex-direction: row;
}

/**** Flexbox Items *****/

#nav-playlist-selector {
    align-self: flex-end;
}

