/* TODO: Border color & styling for track bars: `border 1px solid #102742` */

:root {
    --site-blue: #122D4A;
    --site-orange: #FFA366;
    --nav-button-border: #636363;
    --navbar-border: #919191;;
    --fade-light: #1F4B7F;
    --fade-dark: #0A1929;
}

/* Setting the reference size for "rem" values */
root-html-tag {
    font-size: 12px;
}

/***** Styling *****/

body {
    margin: 0;
    background: var(--site-blue);
}

/* TODO: Find a way to add a gradient to the border like it is in the real thing - the bottom is slightly darker than the top. */
nav {
    height: 4rem;
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    color: var(--site-orange);
    /* top right bottom left */
    padding: 0.15rem 0.1rem 0.15rem 0.1rem;
    border: 1px solid var(--navbar-border);
}

nav ul {
    margin: 0;
    list-style: none;
}

.nav-button {
    height: 1.1rem;
    width: 1.8rem;
    font-size: 0.75rem;
    text-align: center;
    color: var(--site-orange);
    border: 1px solid var(--nav-button-border);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    cursor: pointer;
}

#nav-playlist-selector {
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    color: var(--site-orange);
}

/**** Flexbox Containers *****/

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/**** Flexbox Items *****/

#nav-playlist-selector {
    align-self: flex-end;
}



