/* TODO: Border color & styling for track bars: `border 1px solid #102742` */
/* Border gradient colors for the gradiated border: (to bottom, #C0CCD9, #090C11) */
/* Exiled Colors
   border-color: #3B0E24;
   background-color: #4A122D;
   color: #E79DC0;
*/
/* Chosen Colors
   border-color: #243B0E;
   background-color: #2D4A12;
   color: #BFE490;
*/
/* Scrubber background color: #7F6157 */

:root {
    --site-blue: #122D4A;
    --site-orange: #FFA366;
    --nav-button-border: #636363;
    --navbar-border: #919191;;
    --fade-light: #1F4B7F;
    --fade-dark: #0A1929;
    --track-scrubber-height: 0.8rem;
    --track-scrubber-light: #7F6157;
    --site-font-family: Helvetica, Arial, sans-serif;
}

/* Setting the reference size for "rem" values */
root-html-tag {
    font-size: 12px;
}

/***** Styling *****/

body {
    margin: 0;
    background: var(--site-blue);
}

/* TODO: Find a way to add a gradient to the border like it is in the real thing - the bottom is slightly darker than the top. */
nav {
    height: 4rem;
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    color: var(--site-orange);
    padding: 0.15rem 0.1rem 0.15rem 0.1rem; /* top right bottom left */
    border: 1px solid var(--navbar-border);
}

nav ul {
    margin: 0;
    list-style: none;
}

.nav-button {
    height: 1.35rem;
    width: 2rem;
    font-size: 0.75rem;
    text-align: center;
    color: var(--site-orange);
    border: 1px solid var(--nav-button-border);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    cursor: pointer;
}

#nav-playlist-selector {
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    color: 1px solid var(--site-orange);
    font-family: var(--site-font-family);
}

#track-info {
    font-family: var(--site-font-family);
}


/* TODO: The text is aligned to the bottom of the labels. Find a way to center it veritcally. */
#track-scrubber label {
    color: var(--site-orange);
    border-width: 2px;
    border-style: solid;
    border-color: var(--nav-button-border);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-size: .9rem;
    text-align: center;
    font-family: var(--site-font-family);
    height: var(--track-scrubber-height);
}

/* TODO: The code example at the top of this page could be helpful in setting up the properties of the track-scrubber: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range */
input[type="range"] {
    appearance: none;
    margin: 0;
    padding: 0.3rem;
    height: var(--track-scrubber-height) - 0.1rem;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: var(--nav-button-border);
    background-image: linear-gradient(var(--fade-light), var(--fade-dark));
    cursor: pointer;
}

/* TODO: This article shows how to setup the slider bar coloration. Archive this article. https://nikitahl.com/style-range-input-css */
input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    background: var(--track-scrubber-light);
    background-image: linear-gradient(var(--site-orange), var(--site-orange));
    background-size: 50% 100%; /* The first number is the widht, the second number is the height */
    background-repeat: no-repeat;
    height: 4px;
}

/* TODO: How do I set the position of the thumb? */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: var(--site-orange);
    height: 12px;
    width: 6px;
    margin: -4px 0 0 0;
    border-radius: 2px;
}

/**** Flexbox Containers *****/

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.track-scrubber-flex-container {
    display: flex;
}

/**** Flexbox Items *****/

#nav-playlist-selector {
    align-self: flex-end;
}

#track-scrubber {
    flex: 1;
}

